<form action="/signup" method="POST">
    <label>Name</label>
    <input type='text' name='name' placeholder='Enter name' />
    <br />
    <br />
    <label>Password</label>
    <input type='password' name='password' placeholder='Enter password' />
    <br />
    <br />
    <button>Submit</button>
</form>